# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Compiled files
*.class
*.jar
*.war
*.ear

# Logs
*.log

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.trace.db

# Temporary files
*.tmp